*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.main{
  width: 100%;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main .left-sec {
  width: 50%;
  align-self: flex-start;
}

.main .left-sec h1 {
  font-size: 2rem;
  padding: 0px 30px;
}

.main .right-sec{
  width: 50%;
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.main .right-sec input {
  height: auto;
  width: 500px;
  font-size: 1rem;
  outline: none;
}

.main .right-sec #btn {
  align-self: center;
  width: 130px;
  height: 100%;
  font-size: 1rem;
}

/*
  Weather report section starts
*/

.outer {
  width: 100vw;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.outer .report{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  row-gap: 10px;
  
}